* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #090e22;
    color: azure;
    min-height: 100vh;
}